<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Custom CSS-->
    <link rel="stylesheet" href="styles.css">
    <!--Semantic-UI CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>View Stock</title>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white custom-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/images/admin.svg" alt="..." width="50" class="rounded-circle img-thumbnail shadow-sm">
                <span class="shop-name">Shop Name</span>
                <small class="admin-badge">(Admin)</small>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <form action="/index.html" method="get" class="d-inline">
                            <button type="submit" class="btn btn-danger">
                                <p class="m-0">Log Out</p>
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    
    <!-- End vertical navbar -->
    
    
    <!-- Page content -->
    <br> <br>
    <nav class="navbar navbar-expand-lg navbar-light bg-white custom-navbar">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a href="/home" class="nav-link fs-1 text-white me-5">
                            <i class="home icon"></i><b> Dashboard </b>
                        </a>
                    </li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle fs-1 text-white me-5 ms-5" href="#" id="orderDropdown"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <b> Order </b>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="orderDropdown">
                            <li><a class="dropdown-item fs-1" href="/addorder"><b>Add Order</b></a></li>
                            <li><a class="dropdown-item fs-1" href="/vieworder"><b>View Orders</b></a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fs-1 text-white me-5 ms-5" href="#" id="stockDropdown"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <b>Stock</b>
                        </a>
    
                        <ul class="dropdown-menu" aria-labelledby="stockDropdown">
                            <li><a class="dropdown-item fs-1" href="/viewstock"><b>View Stocks</b></a></li>
                            <li><a class="dropdown-item fs-1" href="/addstock"><b>Add Stock</b></a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <b> <a href="/salesreport" class="nav-link fs-1 text-white me-5 ms-5">
                                <i class="plus circle icon"></i> Sales Report
                            </a>
                        </b>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
        <!-- Page content -->
        <h1>Stocks Summary</h1>
        <br>
        <center><img class="ui medium rounded image" src="/images/stock.svg"></center>
        <br>
            <table class="ui inverted violet table table-bordered">
                <thead>
                    <tr>
                        <th>Item Id</th>
                        <th>Item Name</th>
                        <th>Brand Name</th>
                        <th>Size</th>
                        <th>Amount</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody id="viewstock">
                    
                </tbody>
            </table>
           
    
    </div>
    
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <!-- Semnatic-UI Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>

    <script>
        /* API Function to be called when page is being loaded */
        getAllStockData();
        function getAllStockData(){
            var ui = "";
            $.get('/getallstockdata', (res) =>{
                if(res.statusCode ===200){
                   for(var i=0;i<res.data.length;i++){
                    ui+="<td id=" + res.data[i].item_id +">"+res.data[i].item_id+"</td>"+
                        "<td>"+res.data[i].item_name+"</td>"+
                        "<td>"+res.data[i].brand_name+"</td>"+
                        "<td>"+res.data[i].size+"</td>"+
                        "<td>"+res.data[i].total_amount+"</td>"+
                       "<td>  <center><button type='button' id='button_"+res.data[i].item_id+"'class='ui teal submit button' onClick='deleteStockData(this.id)'>Delete</button> </td></tr>";
                   }
                   document.getElementById('viewstock').innerHTML = ui;
                }

            });
        };
        function deleteStockData(stockDataId){
            var dataId = stockDataId.substring(stockDataId.indexOf('_') + 1);
            var jsonStockDataId = {
                "item_id": dataId
            }
            $.ajax({
                url: '/deletestock',
                data: JSON.stringify(jsonStockDataId),
                processData: false,
                contentType: "application/json; charset=UTF-8",
                type: 'DELETE',
                success: (result) => {
                    alert(result.message);
                    location.reload();
                }
            });
        }
    </script>

    </body>
    
    </html>

